<div class="dialog-container">
    <button mat-icon-button mat-dialog-close>
        <i class="material-icons">close</i>
    </button>
    
    <img [src]="funcionario.foto ||'http://localhost:4200/assets/images/avatar.png'" alt="foto">
   

    <span><strong>Nome:</strong> {{funcionario.nome}}</span>
    <span><strong>E-mail:</strong> {{funcionario.email}}</span>
    <span><strong>Cpf:</strong> {{funcionario.cpf}}</span>
    <span><strong>Perfil:</strong> {{funcionario.perfil}}</span>
    <span><strong>Cargo:</strong> {{funcionario.cargo.nome}}</span>
</div>
